<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <p>
    <img style="display: block; margin-left: auto; margin-right: auto;"
    src="https://archshop.com.br/emails/emailSubscriber.jpg"
    alt="Obrigado! A ArchShop agradece pela sua inscrição! A partir de agora você receberá promoções exclusivas do nosso site em primeira mão!"
    />
  </p>
</body>
</html>
